@import "tailwindcss";

:root {
  --navy: #071A35;
  --peach: #F4B6A8;
  --cream: #FAF8F6;
}

body{
  background:var(--cream);
  color:#1b1b1b;
}

.font-heading{
  font-family:var(--font-playfair);
}

.font-body{
  font-family:var(--font-inter);
}